<%= form_for(@passivo_circulante_financeiro) do |f| %>
<% if @passivo_circulante_financeiro.errors.any? %>
<div id="error_explanation">
	<h2><%= pluralize(@passivo_circulante_financeiro.errors.count, "error") %> prohibited this passivo_circulante_financeiro from being saved:</h2>
	<ul>
		<% @passivo_circulante_financeiro.errors.full_messages.each do |msg| %>
		<li>
			<%= msg %>
		</li>
		<% end %>
	</ul>
</div>
<% end %>
<div class="field">
	<%= f.label :descricao %>
	<br />
	<%= f.text_field :descricao %>
</div>
<div class="field">
	<%= f.label :valor %>
	<br />
	<%= f.text_field :valor %>
</div>
<div class="field">
	<%= f.label :analise_financeira %>
	<br />
	<%= f.collection_select(:analise_financeira_id, AnaliseFinanceira.all, :id, :empresaAno) %>
</div>
<div class="actions">
	<%= f.submit %>
</div>
<% end %> 