<%= render 'ativo_circulante_financeiros/menu'%>
<%= render 'layouts/final_menu' %> 

<h1>Editing ativo_circulante_financeiro</h1>

<%= render 'form' %>

<%= link_to 'Show', @ativo_circulante_financeiro %> |
<%= link_to 'Back', ativo_circulante_financeiros_path %>
